*

!/.gitignore
!/LICENSE.MD
!/README.MD
!/logo.png

!/gregtech.cfg

!/config

!/config/ASJCore.cfg
!/config/chisel.cfg
!/config/CodeChickenCore.cfg
!/config/defaultworldgenerator.cfg
!/config/harvestcraft.cfg
!/config/hbm.cfg
!/config/OpenBlocks.cfg

!/config/advRocketry/
!/config/advRocketry/advancedRocketry.cfg

!/config/AppliedEnergistics2
!/config/AppliedEnergistics2/AppliedEnergistics2.cfg

!/config/cofh/
!/config/cofh/thermaldynamics/
!/config/cofh/thermaldynamics/common.cfg
!/config/cofh/world/
!/config/cofh/world/*

!/config/Enderlicious/
!/config/Enderlicious/Biome_Configuration.cfg
!/config/Enderlicious/Worldgeneration_Configuration.cfg

!/config/enviromine
!/config/enviromine/CaveDimension.cfg
!/config/enviromine/profiles
!/config/enviromine/profiles/default
!/config/enviromine/profiles/default/CustomProperties
!/config/enviromine/profiles/default/CustomProperties/WLM.cfg

!/config/etfuturum/
!/config/etfuturum/world.cfg

!/config/gregtech/
!/config/gregtech/worldgenerationnew.cfg

!/config/Netherlicious/
!/config/Netherlicious/Biome_Configuration.cfg

!/config/powercrystals/
!/config/powercrystals/minefactoryreloaded/
!/config/powercrystals/minefactoryreloaded/common.cfg

!/config/Wasteland
!/config/Wasteland/TerrainGen.cfg
!/config/Wasteland/CreatureSpawns.cfg