# everything but gitignore, license, logo and readme
/*
!.gitignore
!LICENSE.MD
!logo.png
!README.MD

!config
config/*
!config/angelica.cfg
!config/archaicfix.cfg

!config/betterquesting

!config/Enderlicious
config/Enderlicious/*
!config/Enderlicious/Biome_Configuration.cfg

!config/hodgepodge.cfg

!config/immersivecavegen.cfg

!config/Netherlicious
config/Netherlicious/*
!config/Netherlicious/Biome_Configuration.cfg

!config/smoothfont

!config/Wasteland

!config/xaerominimap.txt

!fontfiles