# everything but gitignore, license, logo and readme
/*
!.gitignore
!LICENSE.MD
!logo.png
!README.MD

!config
config/*

!config/angelica.cfg

!config/AppliedEnergistics2
config/AppliedEnergistics2/*
!config/AppliedEnergistics2/AppliedEnergistics2.cfg

!config/archaicfix.cfg

!config/betterquesting

!config/chisel.cfg

!config/cofh
config/cofh/*
!config/cofh/thermaldynamics/
!config/cofh/world

!config/defaultworldgenerator.cfg

!config/Enderlicious
config/Enderlicious/*
!config/Enderlicious/Biome_Configuration.cfg

!config/etfuturum/
config/etfuturum/*
!config/etfuturum/world.cfg

!config/Galacticraft
config/Galacticraft/*
!config/Galacticraft/core.conf

!config/hbm.cfg

!config/hodgepodge.cfg

!config/IGWMod.cfg

!config/immersivecavegen.cfg

!config/NEI
config/NEI/*
!config/NEI/hiddenhandlers.csv

!config/Netherlicious
config/Netherlicious/*
!config/Netherlicious/Biome_Configuration.cfg

!config/railcraft
config/railcraft/*
!config/railcraft/railcraft.cfg
!config/railcraft/modules.cfg

!config/smoothfont

!config/Wasteland

!config/xaerominimap.txt

!config/Ztones.cfg

!fontfiles

!smart_moving_options.txt