#settings.advanced
#Mon Aug 21 09:42:29 ICT 2023
chatScrollHistory=100
maxLengthChannelName=10
convertunicodetext=true
chatbox.anchoredTop=false
multiChatDelay=500
chatbox.height=179
chatBoxUnfocHeight=100.0
chatbox.y=-37
chatbox.x=1
textignoreopacity=false
chatbox.width=335
chatFadeTicks=100.0
pinchatinterface=true
