#settings.general
#Fri May 19 22:18:21 ICT 2023
unreadFlashing=true
timeStampEnable=true
tabbyChatEnable=true
timeStampStyle=MILITARYSECONDS
splitChatLog=false
saveChatLog=false
timeStampColor=DARKGRAY
groupSpam=true
updateCheckEnable=true
