# Configuration file

blocks {
    B:architectBlock=true
    B:autoWorkbenchBlock=false
    B:blockHopper=false
    B:builderBlock=true
    B:constructionMarkerBlock=true
    B:eternalSpring=true
    B:fillerBlock=true
    B:floodGateBlock=true
    B:libraryBlock=true
    B:machineBlock=true
    B:markerBlock=true
    B:miningWellBlock=true
    B:pathMarkerBlock=true
    B:pumpBlock=true
    B:refineryBlock=false
    B:tankBlock=false
}


engines {
    B:tile.engineWood=false
}


items {
    B:blueprintItem=true
    B:debugger=false
    B:diamondGearItem=false
    B:goldGearItem=false
    B:ironGearItem=false
    B:list=false
    B:mapLocation=true
    B:paintbrush=false
    B:stoneGearItem=false
    B:templateItem=true
    B:woodenGearItem=false
    B:wrenchItem=false
}


