# Configuration file

general {
    # setting this to true will split the creative tab in 2, one is used for trains, the other for materials and Tracks. [default: false]
    B:SPLIT_CREATIVE_TAB=false

    # Here you can define, if electric tracks should be powered by redstone (false) or use 'real' RF-power (true) [Default: true] [default: true]
    B:ENERGYTRACK_USES_RF=true

    # disables the train workbench, for those of you who want to use a custom part builder
    B:DISABLE_TRAIN_WORKBENCH=false

    # Enable this if trains and rollingstock are using block/item textures
    B:Force_Texture_Binding=true
    B:ENABLE_STEAM_TRAINS=true

    # This will disable some of Traincrafts easier recipes to balance Modpacks [default: false]
    B:MAKE_MODPACKS_GREAT_AGAIN=false

    # disables our system of registering recipes with NEI, there are a number of issues registering our recipes with NEI, enable at your own risk
    B:DISABLE_NEI_RECIPES=true
    B:ENABLE_COPPER_SPAWN=false
    B:ENABLE_TRACKS_BUILDER=true

    # When OP and creative mode, tells you the owner of the train or rollingstock you just removed
    B:ENABLE_WAGON_REMOVAL_NOTICES=true
    B:REAL_TRAIN_SPEED=false
    B:ENABLE_FUEL_ORES_SPAWN=false

    # This will generate ores in existing chunks prior to installing Traincraft 5. Do note that if this is off chunks that are loaded will not retrogen later, no matter what. [default: false]
    B:ENABLE_RETROGEN=false
    B:ENABLE_SOUNDS=true

    # Allows Minecraft Train Control's ATO system to be used on steam trains
    B:ALLOW_ATO_ON_STEAMERS=false

    # Logs the data for trains and rollingstock, turning this off will improve performance but break the admin book
    B:ENABLE_TRANSPORT_LOGGING=true
    B:ENABLE_DIESEL_TRAINS=true

    # Enables seasonal holiday skins for certain trains and stock. Options: True, False, Force
    S:ENABLE_HOLIDAY_SKINS=True

    # This will disable the chat messages telling you the possible colors when spawning new trains and when coloring them with dye
    B:SHOW_POSSIBLE_TRAINS_COLORS_IN_CHAT=true

    # Defaults to low performance mode in paintbrush menu.
    B:PAINTBRUSH_DEFAULT_LOW_PERFORMANCE_MODE=false
    B:ENABLE_ELECTRIC_TRAINS=true
    B:DISABLE_FLICKERING=true
    B:ENABLE_CHUNK_LOADING=true
    B:ENABLE_TENDERS=true

    # This sets the radius for the can-see-the-sky-check area around the windmill. 0=only location of windmill, 1=3x3, 2=5x5 etc. Use -1 to turn of this check completely. DEFAULT: 1 [range: -1 ~ 10, default: 1]
    I:WINDMILL_CHECK_RADIUS=1

    # Disable this if you don't want tracks to render a hologram when placing down [default: true]
    B:ENABLE_TRACK_HOLOGRAM=true
    B:ENABLE_ZEPPELIN=true
    I:TRAINCRAFT_VILLAGER_ID=86
}


