# Configuration file

##########################################################################################################
# loot amount
#--------------------------------------------------------------------------------------------------------#
# Total itemstacks in chests. Randomized between max and min
##########################################################################################################

"loot amount" {
    # Set to false to prevent item duplicates in a spawned chest. If items MAX > total types of items, item MAX = total types [default: true]
    B:"Common village chest item duplicates"=true

    #  [range: 0 ~ 27, default: 3]
    I:"Common village chest items MAX"=3

    #  [range: 0 ~ 27, default: 2]
    I:"Common village chest items MIN"=2

    # Set to false to prevent item duplicates in a spawned chest. If items MAX > total types of items, item MAX = total types [default: true]
    B:"Rare village chest item duplicates"=true

    #  [range: 0 ~ 27, default: 12]
    I:"Rare village chest items MAX"=8

    #  [range: 0 ~ 27, default: 8]
    I:"Rare village chest items MIN"=4

    # Set to false to prevent item duplicates in a spawned chest. If items MAX > total types of items, item MAX = total types [default: true]
    B:"Uncommon village chest item duplicates"=true

    #  [range: 0 ~ 27, default: 5]
    I:"Uncommon village chest items MAX"=5

    #  [range: 0 ~ 27, default: 3]
    I:"Uncommon village chest items MIN"=3
}


##########################################################################################################
# loot list
#--------------------------------------------------------------------------------------------------------#
# Add item names chest loot. Do NOT skip or add blank lines. Format for items:
# mod_name:item_name:damage_value,max,min
# Check mod language registry for item names. max = maximum stack size, min = minimum stack size. If max/min stack size > game stack limit, game will chose the stack limit.
##########################################################################################################

"loot list" {
    S:"Common chest loot items" <
        hbm:item.gas_mask_filter,1,1
        hbm:item.gun_lever_action,1,1
        hbm:item.ammo_20gauge,60,35
        hbm:item.canned_conserve,16,2
        hbm:item.canned_conserve:1,16,2
        hbm:item.bottle_nuka,3,1
        hbm:item.cap_nuka,10,1
     >
    S:"Rare chest loot items" <
        hbm:item.mechanism_revolver_2,1,1
        hbm:item.mechanism_rifle_2,1,1
        hbm:item.mechanism_launcher_2,1,1
        hbm:item.bottle_quantum,3,1
        hbm:item.bottle_sparkle,3,1
        hbm:item.battery_sc_technetium,1,1
        MineFactoryReloaded:rubberwood.sapling,1,1
        hbm:item.cap_nuka,32,16
     >
    S:"Ultra rare chest loot items" <
        hbm:item.security_helmet,1,1
        hbm:item.security_plate,1,1
        hbm:item.security_legs,1,1
        hbm:item.security_boots,1,1
        hbm:item.battery_sc_polonium,1,1
        hbm:item.mechanism_special,1,1
        hbm:item.gun_bio_revolver,1,1
        hbm:item.cap_nuka,64,40
     >
    S:"Uncommon chest loot items" <
        hbm:item.mechanism_revolver_1,1,1
        hbm:item.mechanism_rifle_1,1,1
        hbm:item.mechanism_launcher_1,1,1
        hbm:item.canned_conserve,32,16
        hbm:item.canned_conserve:1,32,16
        hbm:item.bottle_nuka,5,2
        hbm:item.battery_advanced,1,1
        hbm:item.cap_nuka,20,5
     >
}


##########################################################################################################
# loot rarity
#--------------------------------------------------------------------------------------------------------#
# Rarity of uncommon and rare chests. Spawn chance 1 in N (higher numbers = lower spawn chance)
##########################################################################################################

"loot rarity" {
    # If not picked, checks rarity of uncommon loot [range: 1 ~ 10000, default: 8]
    I:"Rare city loot chance"=8

    # If not picked, checks rarity of rare loot [range: 1 ~ 10000, default: 20]
    I:"Ultra rare city loot chance "=20

    # If not picked, defaults to common loot [range: 1 ~ 10000, default: 6]
    I:"Uncommon city loot chance"=6
}


